@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Merienda', sans-serif;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #7f7f82;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

&::after {
  /* top: 55%;
  right: -55.3%;
  height: 5px;
  width: 110%;
  transform: rotate(90deg); */
  position: fixed;
  content: '';
  right: 1px;
  top: 50px;
  height: 100%;
  width: 2px;
  filter: blur(5px);
  background: linear-gradient(
    to bottom,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );
  background-size: 200% 200%;
  animation: animateGlowVertical 1.25s linear infinite;
}

@keyframes animateGlowVertical {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 200%;
  }
}
